# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Godot specific files
*.gd text eol=lf
*.cs text eol=lf
*.tscn text eol=lf diff=godot-scene
*.tres text eol=lf diff=godot-resource
*.cfg text eol=lf

# Ensure these files are treated as binary
*.import binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bmp binary
*.tga binary
*.svg binary
*.ico binary
*.wav binary
*.ogg binary
*.mp3 binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary

# Make Git better at handling Godot files
*.tscn merge=unity
*.tres merge=unity